body {
  background-color: #b0e0e6; /* Warna Biru Soft */
font-family: Arial, sans-serif; /* Jenis huruf yang bersih dan mudah dibaca */
color: #008b8b; /* Warna teks utama (Cyan Gelap) */
}

.kartu-profil {
  width: 300px;
  margin: 50px auto; /* 50px jarak atas/bawah, auto menengahkan kiri/kanan */
padding: 20px;
  background-color: white;
  border-radius: 15px; /* Membuat sudut menjadi melengkung */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Efek Bayangan */
  text-align: center; /* Menengahkan semua teks didalam kartu */
}
